<div id="container">


    <p class=" d-flex flex-row-reverse bd-highlight">tu ide filter/sort</p>
        <section id="photoArray">
           
           
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov1</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija" >
    
            </div>
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov2</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov3</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov4</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov5</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov5</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
    
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov5</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
    
            <div (click)="oAutoruRuta()">
                <p class="text-center pSlike">Naslov5</p>
                <img src="/assets/1.jpeg" alt="image1" class="slikeGalerija">
    
            </div>
    
    
        </section>
    
    
    </div>