<section>
  <p>Zanimanje</p>
  <p>Ime Prezime</p>
  <p>Telefonski broj</p>
  <p>email</p>
  <button mat-button color="primary" (click)="zatraziPosao()">Zatrazi posao od majstora!</button>

</section>
<hr>
<h2 class="text-center">Lista svih majstora</h2>
<section>
  <table>
    <thead>
      <tr>
        <th>Ime i Prezime</th>
        <th>Zanimanje </th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Marko Marulic</td>
            <td> Parketar </td>
        </tr>
    </tbody>
  </table>
</section>